html,
body {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: "Roboto","Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}
body {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
   input[type="checkbox"],
   input[type="radio"] {
    display: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    font-size: 16px;
    line-height: 24px;
}
h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}
ul {
    margin:0;
    padding:0;
    list-style:none;
}
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    padding: 0;
    margin: 0;
}
button[type="submit"] {
    outline: none;
    border: none;
}



/*общие стили*/
.site-wrapper {
    /*для масштабирования*/
    width: 1160px;
    margin: 0 20px;
    margin: 0 auto; 
}
.container {
    width: 1160px;
    margin: 0 20px;/*так как  box-sizing: border-box;*/
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
     /*только для сетки*/
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
.line-wrapper {
    display: flex;
    justify-content: space-between;
}
.btn {
    display: block;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #fb565a;
    border-radius: 3px;
}
/*шапка*/
.main-header {
    padding-top: 48px;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 80px;
    /*только для сетки*/
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.index-logo {
    width: 160px;
    min-height: 65px;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    
     /*только для сетки*/
    min-height: 65px;
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.main-nav-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/*для переноса контента - для прохождения теста на переполнение*/
    list-style: none;
    margin: 0;
    padding-top: 27px;
    width: 450px;
    /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.nav-item {
    display: block;
    color: #000000;
   /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.nav-item:last-child {
    margin-right: 0;
}
.basket-link {
    display: block;
    align-self: center;
    margin-top: 10px;
    width: 120px;
    text-align: right;
     color: #000000; 
    /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral; 
}

/*слайдер*/

.slider {
    position: relative;
    width: 1160px;
    min-height: 432px;
    text-transform: none;
    overflow: hidden;
      /*только для сетки*/
    box-shadow: inset 0 0 0 2px coral; 
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 432px;
    background-repeat: no-repeat;
    background-position: right 0 top 0;
}
.slider-controls {
    position: absolute;
    bottom: 93px;
    left: 50%;
    transform: translateX(32%);
    z-index: 10;
    width: 200px;
    margin-left: -150px;
    text-align: center;
}

.slider-controls label {
    display: inline-flex;
    width: 7px;
    height: 7px;
    margin-right: 24px;
    
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0 0 0 6px #ffffff; 
    border-radius: 50%;
    cursor: pointer;
}
.slide-text {
    width: 500px;
}

.slide-title {
    width: 600px;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 24px;
}

.slide p {
    margin-bottom: 40px;
}
.btn-red {
    width: 240px;
    background-color: #fb565a;
}

.slide:nth-child(1) {
    background-image: url("../img/slider-1.jpg");
}

.slide:nth-child(2) {
    background-image: url("../img/slider-2.jpg");
}

.slide:nth-child(3) {
    background-image: url("../img/slider-3.jpg");
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
    left: 1160px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
    left: -1160px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
    left: -1160px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
    left: -1160px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
    left: -1160px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    left: 0;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border: 2px solid #c1c1c1;
} 
/*конец слайдера*/

/*main*/
.promo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1100px;
    margin-bottom: 82px;
     /*только для сетки*/
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
.promo-item {
    width: 300px;
     /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral; 
}
.promo-image {
    width: 300px;
    height: 146px;
    overflow: hidden;
    margin-bottom: 17px;
}
.promo-title {
    text-transform: uppercase;
    margin: 0;
}
.promo-item p {
    width: 260px;
    margin-bottom: 32px;
}
.btn-promo-red,
.btn-promo-green,
.btn-promo-yellow {
    width: 160px; 
}
.btn-promo-green {
   background-color: #00ca74;
}
.btn-promo-yellow {
    background-color: #efc84a;
}
.description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1160px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
     /*только для сетки*/
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}
.description-company {
    width: 700px;
    padding-top: 75px;
    padding-bottom: 52px;
      /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral; 
}
.description-company-title {
    display: block;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 33px;
}
.description-company p {
    display: block;
    width: 620px;
    margin-bottom: 39px;
}
.description-company-list {
    
}
.description-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.description-company-item {
    padding-left: 37px;
    margin-bottom: 24px;
}
.description-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 400px;
    padding-top: 167px;
    background: #eeeeee url("../img/nerds-illustration.jpg") no-repeat right 40px;
    
      /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.description-features .description-title {
    margin-left: 58px;
    margin-bottom: 47px;
}
.description-features-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;/*тест на переполнение*/
    width: 400px;
   
}
.description-features-item {
    display: flex;
    flex-flow: column wrap;
  
    width: 120px;
    line-height: 18px;
    text-align: center;
     /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.description-features-item b {
    display: block;
    position: relative;
    font-size: 45px;
    font-weight: 700;
}
.description-features-item span {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 25px;
    font-weight: 500;
    font-size: 25px;
}
.clients {
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 78px;
}
.clients img {
    width: 260px; 
    height: 180px;
    overflow: hidden;
    opacity: 0.2;
}

.map {
    padding: 54px 0;
    background: url("../img/map.jpg") no-repeat;
    background-position: center -150px;
     /*только для сетки*/
    background-color: #eaeaea;
    min-height: 415px;
}
.address {
    display: flex;
    flex-direction: column;
   /* justify-content: space-around; не получается -  растягивает пробелы между текстом по вертикали*/
    width: 320px;
    min-height: 310px;
    padding-top: 33px;
    padding-left: 52px;
    padding-right: 50px;
    background-color: #ffffff;
}
.address-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700; 
    margin-bottom: 7px;
}
.address p,
.address-tel {
    line-height: 18px;
    color: #666666;
}
.address-tel {
    margin-bottom: 40px;
}
.address-btn {
    margin-bottom: 47px;
}
/*футер*/
.main-footer {
    padding-top: 68px;
    padding-bottom: 20px;
   /*только для сетки*/
    background: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45); 
}
.main-footer .container {
    display: flex;
    justify-content: flex-start;
    
}
.social-box {
    width: 400px;
    margin-right: 20px;
     /*только для сетки*/
    min-height: 78px;
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.slogan-title {
    font-size: 36px;
    line-height: 36px;
}
/*каталог*/

.catalog-header {
    margin-bottom: 38px;
}
.main-header-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: none;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 107px;
}
.filter {
    width: 260px;
   /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;  
}
.filter-form {
    display: flex;
    padding-top: 16px;
}
.catalog {
   width: 760px;
    margin-bottom: 17px;
   /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;    
}
.catlog-short {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
      /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.catalog-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 360px;
   /*только для сетки*/
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;
}
.total-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 40px;
   /*только для сетки*/
    min-height: 615px;
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral;  
}
.catalog-baner {
    /*только для сетки*/
    display: none;
}
.pagination {
     width: 440px;
     
    margin-bottom: 60px;
   /*только для сетки*/
    min-height: 50px;
    background-color: rgba(229, 91, 91, 0.2);
    box-shadow: inset 0 0 0 2px coral; 
}
/*форма обратной связи*/
.feedback {
    display: none;
    width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -374px;
    margin-left: -480px;
      /*только для сетки*/
    height: 590px;
}
.feedback-form {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    font-family: "Roboto","Helvetica", "Arial", sans-serif;
    padding-left: 100px;
    padding-right: 95px;
    padding-top: 66px;
    padding-bottom: 84px;
    background-color: #ffffff;
}
.btn-close-js {
  /*только для сетки*/
    display: none;
}
legend {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    margin-bottom: 38px;
}
.feedback-title {
    display: inline-block;
    font-size: 16px;
    line-height: 18px; 
    font-weight: 500;
    color: #000000;
    margin-bottom: 10px;
}
.feedback-title[for^="name"] {
    color: #a3a3a3;
    margin-right: 322px;;
}
.feedback-input {
    width: 360px;
    padding: 13px;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    border-radius: 3px;
    outline: none;
    border: none;
    border: 2px solid #d7dcde;
    margin-bottom: 32px;
}
.feedback-input[name^="name"] {
    margin-right: 37px;
}
.feedback-textarea {
    width: 760px;
    min-height: 115px;
    padding-top: 10px;
    margin-bottom: 42px;
}
.feedback-btn {
   width: 260px;
}




